.contact_wrapper {
  margin-top: 120px;
  margin-bottom: 60px;
}

.contact_box_container {
  margin-top: 60px;
}

.contact_wrapper .contact_left_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_wrapper .contact_box {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.808);
  gap: 20px;
}

.contact_wrapper .icon_box {
  width: 100px;
  height: 100px;
  background: rgba(42, 43, 56, 0.5);
  border: 0.8px solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_wrapper .icon_box .icon {
  width: 30px;
  height: 30px;
  color: #1e7cff;
}

.contact_wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_wrapper form input,
textarea {
  width: 100%;
  height: 50px;
  background: rgba(42, 43, 56, 0.5);
  border: 0.8px solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 10px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.808);
  outline: none;
}

.contact_wrapper textarea {
  height: auto;
}

.contact_wrapper button {
  width: 160px;
  height: 40px;
  background: rgba(42, 43, 56, 0.5);
  border: 0.8px solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.808);
  transition: background 0.3s linear;
}

.contact_wrapper button:hover {
  background: #1e7cff;
  color: white;
}
