.banner_wrapper {
  position: relative;
  padding-top: 200px;
}

.banner_container {
  position: absolute;
  z-index: 2;
  width: 85%;
}

.banner_container .title {
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: white;
  font-weight: 800;
  background: linear-gradient(to right, #774ec5, #4b8ff0, #774ec5, #4b8ff0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner_container .banner_heading {
  font-size: 6.5rem;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: white;
  font-weight: 800;
  margin-bottom: 30px;
}
.banner_container .banner_heading span {
  background: linear-gradient(to right, #774ec5, #4b8ff0, #774ec5, #4b8ff0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner_container .sub_heading {
  background: linear-gradient(to right, #774ec5, #4b8ff0, #543888, #1e7cff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MEDIA QUERY */

@media screen and (max-width: 767px) {
  .banner_wrapper {
    padding-top: 100px;
  }

  .banner_container {
    width: 100%;
    position: inherit;
  }

  .banner_container .title {
    font-size: 2rem;
  }

  .banner_container .banner_heading {
    font-size: 3rem;
  }

  .banner_container .sub_heading {
    font-size: 18px;
  }
}
